<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>GOAT 'Quotes'</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1/1098.png" />
    <meta name="description" content="A website that shows quotes from APIs like Kanye REST" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap"
        rel="stylesheet" />

    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Animate on scroll library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <!-- ********************* Bootstrap navbar/Page Header ********************* -->
    <div class="bg-img">
        <!-- ********************* Navbar ********************* -->
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark shadow" data-aos="slide-down">
            <div class="container-fluid">
                <a class="navbar-brand fs-2 fw-bold bodyFont" href="#">G/Q</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#quotesAPIbar"
                    aria-controls="quotesAPIbar" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="quotesAPIbar">
                    <ul class="navbar-nav">
                        <li class="nav-item bodyFont">
                            <a class="nav-link active fs-6 align-middle text-center fw-semibold" aria-current="page"
                                href="#kanyeREST">Kanye REST</a>
                        </li>

                        <li class="nav-item bodyFont">
                            <a class="nav-link active fs-6 align-middle text-center fw-semibold" aria-current="page"
                                href="#animeQuotes">Anime Quotes</a>
                        </li>

                        <li class="nav-item bodyFont">
                            <a class="nav-link active fs-6 align-middle text-center fw-semibold" aria-current="page"
                                href="#inspireQuotes">Inspirational Quotes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ********************* Intro Header ********************* -->
        <div class="container-fluid introContainer headingFont">
            <div class="row align-items-center">
                <div class="col-lg-6 introQuoteText bodyFont" data-aos="slide-right">
                    "Welcome to GOAT 'Quotes'. This websites generates random quotes from APIs such as Kanye REST. Enjoy
                    :)"
                    <p class="bodyFont brandonText"> - Brandon</p>
                </div>

                <div class="col-lg-6 introCardContainer quotePad" data-aos="slide-left">
                    <div class="card shadow introCard cardBorderRadius">
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p class="childCardTextL">"It's trash can, not trash can't"</p>
                                <footer class="blockquote-footer bodyFont">An anonymous wise man</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ********************* Main Body ********************* -->
    <main>
        <div class="cardContainer">
            <div class="card shadow p-5 gap-5 parentCard cardBorderRadius" data-aos="slide-up">
                <!-- Kanye REST API -->
                <div id="kanyeREST" class="row">
                    <div class="col-lg-6 quotePad" data-aos="fade-in" data-aos-delay="200">
                        <div class="card shadow childCard cardBorderRadius introQuoteText">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="childCardTextL headingFont" id="kanyeApiText">
                                        "<%= savedKanyeQuote %>"
                                    </p>
                                    <footer class="blockquote-footer bodyFont">A wise Kanye REST</footer>
                                </blockquote>
                                <button type="button" class="btn btn-warning bodyFont shadow">Anotha' One</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 quotePad" data-aos="slide-left" data-aos-delay="200" duration="3000">
                        <div class="row">
                            <div id="carouselSpotify" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselSpotify" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselSpotify" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselSpotify" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active container-fluid">
                                        <iframe class="spotifyPlayer" style="border-radius:25px"
                                            src="https://open.spotify.com/embed/track/4EWCNWgDS8707fNSZ1oaA5?utm_source=generator&theme=0"
                                            width="100%" height="400" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                    <div class="carousel-item container-fluid">
                                        <iframe class="spotifyPlayer" style="border-radius:25px"
                                            src="https://open.spotify.com/embed/track/3sNVsP50132BTNlImLx70i?utm_source=generator"
                                            width="100%" height="400" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                    <div class="carousel-item container-fluid">
                                        <iframe class="spotifyPlayer" style="border-radius:25px"
                                            src="https://open.spotify.com/embed/track/1PS1QMdUqOal0ai3Gt7sDQ?utm_source=generator"
                                            width="100%" height="400" frameBorder="0" allowfullscreen=""
                                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselSpotify" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselSpotify" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Anime Quotes API -->
                <div id="animeQuotes" class="row">
                    <div class="col-lg-6  gap-5 animeCol quotePad" data-aos="slide-right" data-aos-delay="200">
                        <div>
                            <div class="container">
                                <div class="panel active" style="background-image: url('/images/anime-1.jpg');">
                                </div>
                                <div class="panel" style="background-image: url('/images/anime-2.jpg');">
                                </div>
                                <div class="panel" style="background-image: url('/images/anime-4.jpg');">
                                </div>
                                <div class="panel" style="background-image: url('/images/anime-5.jpg');">
                                </div>
                            </div>
                            <div>
                                <p class="bodyFont credits">Images by @helloclonion</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 gap-5 quotePad" data-aos="fade-in" data-aos-delay="200">
                        <div class="card shadow childCard cardBorderRadius introQuoteText">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p class="childCardTextR headingFont">"<%= savedAnimeQuote %>"</p>
                                    <footer class="blockquote-footer bodyFont">
                                        <%= savedFromCharacter %> (<cite title="Source Title">
                                                <%= savedFromAnime %>)
                                            </cite>
                                            <footer>
                                </blockquote>
                                <button type="button" class="btn btn-warning bodyFont shadow">Anotha' One</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- inspiration quotes API -->
                <div id="inspireQuotes" class="row">
                    <div class="container-fluid">
                        <div class="row randomImages">
                            <div class="col-lg-6 quotePad" data-aos="fade-in" data-aos-delay="200">
                                <div class="card shadow childCard cardBorderRadius introQuoteText">
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="childCardTextL headingFont">
                                                <%= savedInspireQuote %>
                                            </p>
                                            <footer class="blockquote-footer bodyFont">
                                                <%= savedInspireAuthor %>
                                            </footer>
                                        </blockquote>
                                        <button type="button" class="btn btn-warning bodyFont shadow">Anotha'
                                            One</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 justify-content-center p-1 signatureCard quotePad">
                                <div class="card shadow childCard cardBorderRadius introQuoteText footer">
                                    <div class="card-body">
                                        <div>
                                            <i class="fa-brands fa-github-alt logos"><a class="bodyFont"
                                                    href=" https://github.com/import-turtle">
                                                    GitHub</a></i>
                                            <i class="fa-brands fa-linkedin logos"><a class="bodyFont"
                                                    href=" https://github.com/import-turtle">
                                                    LinkedIn</a></i>
                                            <i class="fa-brands fa-twitter logos"><a class="bodyFont"
                                                    href=" https://github.com/import-turtle">
                                                    Twitter</a></i>
                                            <i class="fa-brands fa-instagram-square logos"><a class="bodyFont"
                                                    href=" https://github.com/import-turtle"> Instagram</a></i></i>
                                            <p class="signature">@tortolwortol</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Cards -->
            </div>
            <!-- End Parent Card -->
        </div>
    </main>

    <!-- Button To Top -->
    <a href="#" class="toTop">
        <i class="fa-solid fa-arrow-up"></i>
    </a>

    <!-- ********************* Scripts ********************* -->
    <script src="https://kit.fontawesome.com/7e4a376dc5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>

<!-- Referneces
* Anime Panel code by codehishira and edited to fit my page 
* BootStrap 5
* AOS Library  -->